#cont {
    margin: 0px;
    margin-top: 40px;
}
#foot {
    position: relative;
    bottom: -332px;
    right: 0px;
    left: 0px;
}

#prod{
    padding-right: 24px;
}
#enployee{
    padding-right: 15px;
}
#bcont {
    margin-top: 100px;

}

#b2cont ,#b1cont{
    margin-left: 300px;
}

body{
    background-image:url("css/images.jpg");
    background-repeat: repeat;
    background-size: cover;
}
.btn
{
    background-color: #731315; color: white;
}
a {
    color:#731315;
}
