body {
    /* The image used */
    background-image: url("css/images.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#foot {
    position: relative;
    bottom: -104px;
    right: 0px;left: 0px;
}